.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  gap: 1rem;
  border-bottom: 1px solid var(--cinza);
  box-shadow: var(--sombra);
  background: var(--azul);
  color: var(--branco);
}
