* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-claro: hsl(225, 100%, 94%);
  --azul: hsl(245, 75%, 52%);
  ---azul-bem-claro: hsl(225, 100%, 98%);
  --azul-desbotado: hsl(224, 23%, 55%);
  --azul-escuro: hsl(223, 47%, 23%);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  font-family: sans-serif;

  background: var(--azul-claro);
}

button {
  cursor: pointer;
}

.container {
  width: 400px;
  border-radius: 8px;
  background: #fff;
}

.container header {
  height: 12rem;
  width: 100%;
}

.container header img {
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

.container main {
  margin-top: 1.5rem;
  padding: 0 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container main h3 {
  text-align: center;
  color: var(--azul-escuro);
  font-weight: 900;
}

.container main > p {
  margin-top: 1.2rem;
  text-align: center;
  width: 70%;
  color: var(--azul-desbotado);
}

.container main section {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(---azul-bem-claro);
  padding: 0.7rem;
  border-radius: 8px;
  width: 95%;
}

.container main section div p {
  color: var(--azul-desbotado);
  font-size: 0.9rem;
}

.container main section div p:first-child {
  color: var(--azul-escuro);
  font-weight: 800;
  font-size: 1rem;
}

.container main section a {
  text-decoration: underline;
  font-size: 0.95rem;
  color: var(--azul);
}

.container main footer {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 95%;
}

.container main footer button {
  text-align: center;
  padding: 0.6rem;
  border-radius: 8px;
  background: transparent;
  color: var(--azul-desbotado);
  font-weight: bold;
  border: none;
}

.container main footer button:first-child {
  background: var(--azul);
  color: #fff;
}
